* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(255, 77, 68)
}

body {
    padding: 12px;
}

h2 {
    font-size: 32px;
    font-family: Helvetica;
    margin: 10px auto;
    -webkit-text-stroke: 1px rgb(255, 77, 68)
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 16px;
}

.hero {
    width: 100%;
    padding-top: 25px;
    background: rgb(255, 77, 68);
    color: rgb(241, 233, 230);
    text-align: center;
}

.main-header {
    font-family: Helvetica;
    font-size: 36px;
    margin-bottom: 5px;
    color: rgb(241, 233, 230);
    -webkit-text-stroke: 2px rgb(241, 233, 230);
}

.hero p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 18px;
    color: rgb(241, 233, 230);
}

.footer-cont {
    width: 100%;
    padding: 25px;
    background: rgb(255, 77, 68);
    color: rgb(241, 233, 230);
    text-align: center;
}

.footer-cont ul {
    list-style: none;
}

.count {
    font-size: 200px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    display: inline;
}

.countbtn {
    padding: 30px;
    font-size: 50px;
    display: inline;
}

.message-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.message-cont img {
    width: 100%;
    height: 525px;
    object-fit: cover;
}

.message-cont button {
    padding: 20px;
    font-size: 30px;
}






.text-cont {
    width: 100%;
    height: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background: rgb(42, 41, 41);
    justify-content: flex-start;
    align-items: center;
    /* transform: rotate(-0.75deg) translateY(12px); */
}

.text-box {
    /* overflow: hidden; */
    display: flex;
    /* flex-wrap: nowrap; */
    align-items: center;
    justify-content: center;
    /* background: pink; */
    white-space: nowrap;
    animation: scroll 10s linear infinite;
    position: relative;
    /* margin-right: 5px; */
    left: 0;
}

.text-box p {
    margin-right: 10px;
}


@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}



.gallery-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    overflow: hidden;
}

.gallery img {
    object-fit: cover;
    width: 100%;
    height: 600px;
}



#modal {
    width: 400px;
    height: 280px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(42, 41, 41);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(241, 233, 230) !important
}

#modal h2 {
    margin-top: -25px;
    color: rgb(241, 233, 230) !important;
    -webkit-text-stroke: 1px rgb(241, 233, 230) !important;
}

#modal p {
    color: rgb(241, 233, 230) !important
}




.car {
    padding: 30px;
    background: rgb(42, 41, 41);
    margin: 50px auto 0;
}


.car h3 {
    font-size: 26px;
}


li {
    margin-bottom: 12px;
}

#dinos {
    padding: 25px;
    border: solid 2px rgb(255, 77, 68);
    margin: 25px 0;
}


.section img {
    width: 200px;
}